:is(.btn1, .btn2, .teclas):hover{
    box-shadow: 0 0 10px black;
}
.btn-base{
    cursor: pointer;
    height: 67px;
    margin: 10px;
    padding: 24px;
    border-radius: 24px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

}
.btn1{
    background: var(--color1);
    color: #FFFFFF;
}
.btn2{
    background: var(--color2);
    border: 1px solid var(--color1);
    color: var(--color1);
}
.botonesInicio{
    margin-top: 200px;
}
.btns{
    vertical-align: middle;
    width: 100%;
}
.iniciarJuego{
    width: 317px;
    height: 114px;
}
.agregarNuevaPalabra{
    width: 280px;
}
.nuevoJuego, .desistir, .volverAlInicio,
.cancelar, .guardarYEmpezar{
    width: 80%;
    max-width: 332px;  
}

#keyboard-control{
    cursor: pointer;
    font-size: 30px;
}

#keyboard{
    height: 150px;
}
.teclas{
    vertical-align: middle;
    cursor: pointer;
    background: var(--color2);
    border-radius: 10px;
    border: 1px solid var(--color1);
    color: var(--color1);
    padding: 7px 10px;
    margin: 1px;
    font-size: 25px;
}
.presionada{
    opacity: 0.3;
}
#a, #b, #c{
    text-align: center;
    height: 50px;
}