*{
    font-family: 'Inter';
    font-style: normal;
}
:root{
    background: #F3F5FC;
    --color1: #0A3871;
    --color2: #D8DFE8;
}
.logo{
    margin-left: 40px;
    margin-top: 40px;
}
section{
    margin-bottom: 25px;
    width: 100%;
    min-width: 375px;
    text-align:center;
}
.hidded{
    display: none;
}
.mostrar{
    display: inline;
}
.mostrarInicio{
    display: block;
}
.showInline{
    display: inline-block;
}
table{
    border-collapse: separate;
    border-spacing: 1px;
    display: inline;
}
#word-container{
    height: 60px;
}
#dash{
    height: 15px;
}
.word-panel-key{    
    color: var(--color1);
    font-size: 48px;
    width: 80px;
    height: 50px;
    margin: 5px;
}
hr{
    width: 70%;
    height: 6px;
    background-color: var(--color1);
    border: none;
    border-radius: 3px;
}
.keys-panel{
    height: 30px;
    padding: 25px;
    font-size: 24px;
    font-weight: 400;
}
.key-wrong{
    letter-spacing: 1em;
    color: #495057;
}
.message{
    font-weight: bold;
    letter-spacing: normal;
    color: var(--color1);
}
.lose{
    color: red;  
}
.win{
    color: green;
}
.word-panel-missing-key{
    opacity: 0.3;
}

.copyright{
    font-family: 'Monaco';
    text-decoration: none;
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: grey;
    font-size: 10px;

}
.copyright:hover{
    font-weight: bold;
    color: black;
}

.input{
    resize: none;
    text-align: center;
    height: 2em;
    width: 12em;
    max-width: 90%;
    margin: 2em 0;
    padding-top: 1em;
    font-size: 2em;
    border-radius: 15px;
    border-color: var(--color2);
    color: var(--color1);
}