*{
    font-family: 'Inter';
    font-style: normal;
}

:root{
    background: #F3F5FC;
}
.logo{
    margin-left: 40px;
    margin-top: 40px;
}
section{
    margin-bottom: 25px;
    width: 100%;
    min-width: 375px;
    text-align:center;
}
#draw{
    display: none;
}
#keyboard{
    display: none;
}
table{
    display: inline;
    align-items: center;
}
#contenedor-palabra{
    font-size: 2em;
    height: 152px;
}
.palabra{
    color: #0A3871;
    font-size: 48px;
    width: 80px;
    height: 50px;
    margin: 5px;
}
#palabra{
    display: inline;
}
hr{
    width: 70%;
    height: 6px;
    background-color: #0A3871;
    border: none;
    border-radius: 3px;
}
.letrasErradas{
    height: 30px;
    padding: 25px;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1em;
    color: #495057;
}
.mensajePerdiste{
    color: red;
    font-weight: bold;
    letter-spacing: normal;
}
.mensajeGanaste{
    color: green;
    font-weight: bold;
    letter-spacing: normal;
}

#teclado{
    display: none;
    height: 150px;
}
.teclas{
    background: #D8DFE8;
    display: inline;
    text-align: center;
    color: #0A3871;
    border-radius: 24px;
    padding: 5px;
    width: 80px;
    height: 60px;
    margin: 5px;
    font-size: 30px;
    font-weight: 400;
}
#a, #b, #c{
    height: 50px;
}

.copyright{
    font-family: 'Monaco';
    text-decoration: none;
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: grey;
    font-size: 10px;

}
.copyright:hover{
    font-weight: bold;
    color: black;
}