*{
    max-width: 800px;
    max-height: 1200px;
    font-family: 'Inter';
    font-style: normal;
}

:root{
    background: #F3F5FC;
    --color1: #0A3871;
    --color2: #D8DFE8;
}
.logo{
    margin-left: 40px;
    margin-top: 40px;
}
section{
    margin-bottom: 25px;
    width: 100%;
    min-width: 375px;
    text-align:center;
}
.noMostrar{
    display: none;
}
.mostrar{
    display: inline;
}
.mostrarInicio{
    display: block;
}
.mostrarTeclado{
    display: inline-block;
}
table{
    border-collapse: separate;
    border-spacing: 1px;
    display: inline;
}
#contenedor-palabra{
    font-size: 2em;
    height: 152px;
}
.palabra{    
    color: var(--color1);
    font-size: 48px;
    width: 80px;
    height: 50px;
    margin: 5px;
}
#palabra{
    display: inline;
}
hr{
    width: 70%;
    height: 6px;
    background-color: var(--color1);
    border: none;
    border-radius: 3px;
}
.panelLetras{
    height: 30px;
    padding: 25px;
    font-size: 24px;
    font-weight: 400;
}
.erradas{
    letter-spacing: 1em;
    color: #495057;
}
.mensaje{
    font-weight: bold;
    letter-spacing: normal;
}
.perdiste{
    color: red;  
}
.ganaste{
    color: green;
}

.copyright{
    font-family: 'Monaco';
    text-decoration: none;
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: grey;
    font-size: 10px;

}
.copyright:hover{
    font-weight: bold;
    color: black;
}